companies/

examples/ 

checkout/

companies_data/

companies_data_missing/

units-checkout/

frames/

infer.txt

extract.txt

goodwill.txt

__pycache__

reshaped/

clean_data/

submissions.ipynb

ready_data/

other_pickle/Dynamic_Model.pth

other_pickle/Static_Model.pth

C:\Programming\Python\Finance\EDGAR\code\jakub.ipynb