companies/*
!companies/.gitkeep
other_pickle/*
!other_pickle/.gitkeep
checkout/*
!checkout/.gitkeep
units-checkout/*
!units-checkout/.gitkeep
frames/*
!frames/.gitkeep
companies_data/*
!companies_data/.gitkeep
extract.txt

FolderName/*
!FolderName/.gitkeep